#flash
  - flash.each do |flashtype, message|
    %div{:class => "flash #{flashtype}", :id => "flash-#{flashtype}"}
      = message
    :coffeescript
      setTimeout("$('div.flash').slideUp()", 4000)